* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
}

.container .box {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box1 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box2 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box3 {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container .box {
    width: 110px;
    height: 55px;
    background: rgb(2, 0, 145);
    margin: 10px;
}

.container .box1 {
    width: 160px;
    height: 55px;
    background: rgb(194, 1, 1);
    margin: 10px;
}

.container .box2 {
    width: 110px;
    height: 55px;
    background: rgb(53, 145, 0);
    margin: 10px;
}

.container .box3 {
    width: 110px;
    height: 55px;
    background: rgb(2, 0, 145);
    margin: 10px;
}

